*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-container{
  background-color: rgb(40, 38, 38);
  height:100vh
}

.right-container{
  /* background-color: green; */
  height:100vh
}

#map{
  height:100vh
}

.popup{
  border-left:3px solid green;


}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background-color:rgb(88, 85, 85);
  color:whitesmoke;
  width:120px;
  padding-left: 10px;
  
}